body {
  margin: 0;
  background-color: black;
}
main {
  display: block;
}

img {
  border-style: none;
}

img,
video {
  max-width: 100%;
  height: auto;
}

/* Typografi */
@font-face {
  font-family: Druk_wide;
  src: url(fonts/DrukTextWide-Heavy-Trial.otf);
}

h1,
p {
  color: white;
}

h1 {
  font-family: Druk_wide;
  font-size: 1.3rem;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.3;
}
