main {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  background-image: url(img/blank_mobile_port.png);
  background-size: contain;
  background-position: center;
}

section {
  gap: 2rem;
  align-items: center;
  padding: 2.5rem;
}

@media (min-width: 800px) {
  body {
    background-image: url(img/blank_web_port.png);
    background-size: cover;
  }

  .tekst_2 {
    place-self: center right;
  }

  .section_1,
  .section_2,
  .section_3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .tekst_2 {
    order: -1;
  }
}
