@font-face {
  font-family: Druk_wide;
  src: url(fonts/DrukTextWide-Heavy-Trial.otf);
}
.wrapper .left,
.wrapper .right {
  width: 100%;
  height: 50vh;
  position: relative;
}

.wrapper .image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
}

/* ---------------- Left side ---------------- */
.face {
  background-image: url("img/ansigt_baggrund.png");
  display: flex;
  justify-content: space-around;
}
/* .back_vid {
  position: relative;
} */
.wrapper .splash_logo_left {
  width: 50%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("img/Blaagaard_overskrift_hvid.svg");
}

/* ---------------- Right side ---------------- */

.blank {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url("img/50blank_web.png");
}
.wrapper .splash_text_right {
  color: white;
  align-self: center;
  font-family: Druk_wide;
  font-size: 2rem;
}

/********** POPUP ***********/

#quiz_knap {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 1.1rem;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border: none;
  background-color: transparent;
}

#popup {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  /* evt ændr positionen */
}

#popup article {
  position: absolute;
  display: grid;
  margin: 4rem auto;
  background-color: black;
  width: 50%;
  height: 70%;
}

#popup article h1 {
  font-size: 4rem;
  margin: 0;
}

#popup article h2 {
  font-size: 1.3rem;
  color: white;
  font-family: druk_wide;
}

#popup article p {
  font-size: 0.9rem;
}

.quiz_wrap1 {
  display: flex;
  margin-left: 1rem;
}

.quiz_wrap2 {
  margin: 0 3rem 0 3rem;
}

#start_knap {
  border-style: none;
  background-color: deeppink;
  color: white;
  font-family: druk_wide;
  font-size: 1.3rem;
  border-radius: 35px;
  box-shadow: -10px 0 80px deeppink;
  filter: blur(1px);
  align-items: center;
  justify-content: center;
  margin: 0 170px 60px 170px;
  cursor: pointer;
}

#luk {
  width: 1.5vw;
  line-height: 1.5rem;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

/********** MEDIA QUEQRY *************/

@media only screen and (min-width: 1200px) {
  .wrapper {
    display: flex;
  }
  .wrapper .left,
  .wrapper .right {
    width: 60vw;
    height: 100vh;
  }
  .wrapper .splash_text_right {
    color: white;
    align-self: center;
    font-family: Druk_wide;
    font-size: 2rem;
  }

  .header {
    padding: 1.5rem;
  }

  /********** POPUP ***********/

  #quiz_knap {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 1.1rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: none;
    background-color: transparent;
  }

  #popup {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
  }

  #popup article {
    position: absolute;
    display: grid;
    margin: 4rem auto;
    background-color: black;
    width: 50%;
    height: 70%;
  }

  #popup article h1 {
    font-size: 4rem;
    margin: 0;
  }

  #popup article h2 {
    font-size: 1.3rem;
    color: white;
    font-family: druk_wide;
  }

  #popup article p {
    font-size: 0.9rem;
  }

  .quiz_wrap1 {
    display: flex;
    margin-left: 1rem;
  }

  .quiz_wrap2 {
    margin: 0 3rem 0 3rem;
  }

  #start_knap {
    border-style: none;
    background-color: deeppink;
    color: white;
    font-family: druk_wide;
    font-size: 1.3rem;
    border-radius: 35px;
    box-shadow: -10px 0 80px deeppink;
    filter: blur(1px);
    align-items: center;
    justify-content: center;
    margin: 0 170px 60px 170px;
    cursor: pointer;
  }

  #luk {
    width: 1.5vw;
    line-height: 1.5rem;
    background-color: transparent;
    color: white;
    cursor: pointer;
  }
}
